.offload-details-container {
    display: flex;
    flex-wrap: wrap;
}

.fish-container {
    width: 65%;
}

.fish-container-item {
    display: flex;
    flex-direction: row;

}
.fish-container-item > p {
    width: 20%;
    
}
